#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.filmbox {
  margin: 1rem;
  padding: 10px 10px 10px 50px;
  border: 0px solid gray;
  width: 20%;
}